@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 500px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
   

}

.image-shrink {
    

    width: 100%; /* Default to full width */

    @media only screen and (max-width: 1920px) {
        width: 450px;
        height: 340px;
        
    }

    @media only screen and (max-width: 1600px) {
        width: 350px;
        height: 240px;
    }
}

.home-image {
    

    width: 100%; /* Default to full width */

    @media only screen and (max-width: 1920px) {
        width: 700px;
  
        
    }

    @media only screen and (max-width: 1600px) {
        width: 350px;
     
    }
}